---
---

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957;
// $header-bg-color-secondary: #155799;
$header-bg-color: ##243c51;
$header-bg-color-secondary: #337ab7;

// Text
$section-headings-color: #d30c27;


@import "{{ site.theme }}";
