---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #04e7ef;
$header-bg-color-secondary: #155799;
// $header-bg-color: #159957;
// $header-bg-color: #23c48e;
// $header-bg-color-secondary: #277bd1;

// Text
$section-headings-color: #59c0f4;
$body-link-color: #ff0762;

@import "{{ site.theme }}";
