---
---

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957;
// $header-bg-color-secondary: #155799;
$header-bg-color: #40bca3;
$header-bg-color-secondary: #23c48e;

// Text
$section-headings-color: #59c0f4;


@import "{{ site.theme }}";
